<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/dashboardLayOut.html}">
<head>
    <meta charset="UTF-8">
    <title>OneTouch || Add New User</title>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        <img src="../assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>


                    <div style="color: red" th:if="${errorMessageSignUp} != null">

                        <div class="alert alert-danger msgAlert1" th:text="${errorMessageSignUp}" role="alert"><strong>Alert!</strong>

                        </div>

                    </div>

                    <span class="text-danger" th:if="${userParseError != null}">
                        <div class="alert alert-danger" th:if="${userParseError.phone}" th:text="${userParseError.phone}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.fullname}" th:text="${userParseError.fullname}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.address}" th:text="${userParseError.address}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.lastname}" th:text="${userParseError.lastname}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.dateOfbirth}" th:text="${userParseError.dateOfbirth}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.username}" th:text="${userParseError.username}"
                             role="alert">
                        </div>
                        <div class="alert alert-danger" th:if="${userParseError.email}" th:text="${userParseError.email}"
                             role="alert">
                        </div>




                    </span>
                    <span class="text-success" th:if="${successProfile != null}">
                        <div class="alert alert-success" th:if="${successProfile}" th:text="${successProfile}"
                             role="alert">
                        </div>
                    </span>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Add New User</h4></div>

                        <div class="card-body">
                            <form method="POST" th:action="@{/Users/Addnew}" class="needs-validation" novalidate="" th:object="${AddUser}">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="first_name">First Name*</label>
                                        <input id="first_name" th:field="*{fullname}" type="text" class="form-control" name="first_name" required autofocus>

                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Last Name*</label>
                                        <input id="last_name" th:field="*{lastname}" type="text" class="form-control" name="last_name" required>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label>BirthDay*</label>
                                        <input  type="date"  class="form-control" th:field="*{dateOfbirth}">
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Phone*</label>
                                        <input type="text" th:field="*{phone}" required class="form-control">

                                    </div>
                                    <div class="form-group col-6">
                                        <label>Gender*</label>
                                        <select class="form-control" th:field="*{gender}">
                                            <option th:value="true">Female</option>
                                            <option th:value="false">Male</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="email">Email*</label>
                                        <input id="email" type="email" th:field="*{email}" class="form-control" name="email" required>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="username" class="d-block">Username*</label>
                                        <input id="username" required type="text" th:field="*{username}" class="form-control">

                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block">Password*</label>
                                        <input id="password2"  th:field="*{password}" required type="password" class="form-control" name="password-confirm">

                                    </div>
                                </div>

                                <div class="row">
                                    <label>Roles*</label>
                                    <select th:field="*{roles}" class="form-control selectric">
                                        <option th:value="ROLE_MODERATOR">ROLE_MODERATOR</option>
                                        <option th:value="null">ROLE_USER</option>
                                    </select>

                                </div>

                                <div class="form-divider">
                                    Your Home
                                </div>
                                <div class="row">

                                    <div class="form-group col-6">
<!--                                        <label>Province</label>-->
<!--                                        <select th:field="*{province}" class="form-control selectric" hidden>-->
<!--                                            <option th:value="1" selected>West Java</option>-->
<!--                                            <option th:value="2">East Java</option>-->
<!--                                        </select>-->
                                    </div>

                                    <div class="form-group col-12">
                                        <div class="place"></div>
                                        <label>Address*</label>
                                        <input  required type="text" th:field="*{address}" class="form-control" id="searchTextField">
                                        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzXOsTOt4FHKc9fk8gply0dQulD2 ON3iU&libraries=places"></script>
                                        <script>
                                            const searchInput = document.getElementById('searchTextField');
                                            const autocomplete = new google.maps.places.Autocomplete(searchInput);

                                            searchInput.addEventListener("change", () => {
                                                setTimeout(function() {

                                                    let addr = searchInput.value;
                                                    let embed = "<label for='exampleInputPassword1'></label><iframe width='446px' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=" + encodeURIComponent(addr) + "&amp;output=embed'></iframe>";

                                                    $('.place').html(embed);
                                                }, 200);
                                                console.log(searchInput.value)

                                            });
                                        </script>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Add New User
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>