<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/dashboardLayOut.html}">
<head>
    <meta charset="UTF-8">
    <title>Category - Edit</title>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        <img src="../assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Edit Category</h4></div>

                        <div class="card-body">
                            <form method="POST" th:action="@{/Category/SaveEdit}" th:object="${CreateCategory}" class="needs-validation" novalidate="" enctype="multipart/form-data">
                                <div class="row">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group col-12">
                                        <label for="name">Name</label>
                                        <input id="name"  type="text" class="form-control" th:field="*{name}" required autofocus/>
                                        <span class="text-danger" th:if="${errorName}" >
                                            [[${errorName}]]
                                        </span>
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="price">Quantity</label>
                                        <input id="price" type="text" class="form-control" th:field="*{quantity}" required/>
                                        <span class="text-danger" th:if="${errorPrice}" >
                                            [[${errorPrice}]]
                                        </span>
                                    </div>
<!--                                    <div class="form-group col-12">-->
<!--                                        <label for="quantity">Name</label>-->
<!--                                        <input id="quantity"  type="text" class="form-control" th:field="*{quantity}" required autofocus/>-->
<!--                                        <span class="text-danger" th:if="${errorName}" >-->
<!--                                            [[${errorName}]]-->
<!--                                        </span>-->
<!--                                    </div>-->
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6 col-12">
                                        <label>Front Image</label>
                                        <input  type="file"  class="form-control" th:field="*{frontImage}" id="input-image" onchange="delete_oldImage()" />
                                        <div id="preview-image"></div>
                                        <div id="oldImage" height="88px"><img th:src="${front}" style="height:100px"/></div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Back Image</label>
                                        <input  type="file"  class="form-control"th:field="*{backImage}" id="input-image2" onchange="delete_oldImage2()"/>
                                        <div id="preview-image2"></div>
                                        <div id="oldImage2" height="88px"><img th:src="${back}" style="height:100px"/></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>

<script>
    function delete_oldImage(){
        var oldImage = document.getElementById('oldImage');
        oldImage.remove();
    }
    function previewImages() {
        var $preview = $('#preview-image').empty();
        if (this.files) $.each(this.files, readAndPreview);
        function readAndPreview(i, file) {
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
                return alert(file.name +" is not an image");
                file.delete();
            } // else...
            var reader = new FileReader();
            $(reader).on("load", function() {
                $preview.append($("<img/>", {src:this.result, height:88}));
            });
            reader.readAsDataURL(file);
        }
    }
    $('#input-image').on("change", previewImages);
</script>

<script>
    function delete_oldImage2(){
        var oldImage = document.getElementById('oldImage2');
        oldImage.remove();
    }
    function previewImages2() {
        var $preview = $('#preview-image2').empty();
        if (this.files) $.each(this.files, readAndPreview);
        function readAndPreview(i, file) {
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)){
                return alert(file.name +" is not an image");
                file.delete();
            } // else...
            var reader = new FileReader();
            $(reader).on("load", function() {
                $preview.append($("<img/>", {src:this.result, height:88}));
            });
            reader.readAsDataURL(file);
        }
    }
    $('#input-image2').on("change", previewImages2);
</script>