<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Admin/dashboardLayOut.html}">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <section class="section">
        <div class="section-header">
            <h1>Order</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Order Details</h4>
                        <span class="alert alert-danger  msgAlert1" th:if="${Success}" >
                                            [[${Success}]]
                                        </span>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-md">
                                <tr>
                                    <th>Customer Name</th>
                                    <td><p th:text="${orders.fullname}"></p></td>
                                </tr>
                                <tr>
                                    <th>Customer Address</th>
                                    <td><p th:text="${orders.address}"></p></td>
                                </tr>
                                <tr>
                                    <th>Customer Phone</th>
                                    <td><p th:text="${orders.phone}"></p></td>
                                </tr>
                                <tr>
                                    <th>Customer Username</th>
                                    <td><p th:text="${orders.user.username}"></p></td>
                                </tr>
                                <tr>
                                    <th>Product</th>
                                    <td><p th:text="${orders.category.name}"></p></td>
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    <td><p th:text="${orders.price}"></p></td>
                                </tr>
                                <tr>
                                    <th>Order status</th>
                                    <td><div th:class="${orders.order_process.style}" th:text="${orders.order_process.name}"></div></td>
                                </tr>
                                <tr>
                                    <th>Pdf Card</th>
                                    <td><a th:href="${pdf}">download</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-right">

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div>
                            <a th:if="${orders.order_process.getId() <3}" th:href="@{/Admin/Order/Confirm/{id}(id=${orders.id})}" class="btn btn-dark" th:text="${orders.order_process.getDescription()}"></a>
                            <a th:if="${orders.order_process.id!=3 && orders.order_process.id<4}" th:href="@{/Admin/Order/cancelOrder/{id}(id=${orders.id})}" class="btn btn-danger">Cancel this order</a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th></th>
                                    <th>Process</th>
                                    <th>Date</th>
                                </tr>
                                <tr th:if="${orders.order_process.id != 4}">
                                    <td class="p-0 text-center">
                                        <div class="custom-checkbox custom-control">
                                            <input checked="true" type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-6">
                                            <label class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>Create Order</td>
                                    <td th:text="${#dates.format(orders.createdAt,'dd-MM-yyyy')}"></td>
                                </tr>
                                <tr th:if="${orders.order_process.id != 4}">
                                    <td class="p-0 text-center">
                                        <div class="custom-checkbox custom-control">
                                            <input th:if="${orders.order_process.id >= 2}" th:checked="true" type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
                                            <label class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>Confirm and Delivery</td>
                                    <td th:text="${#dates.format(orders.confirmedAt,'dd-MM-yyyy')}"></td>
                                </tr>
                                <tr th:if="${orders.order_process.id != 4}">
                                    <td class="p-0 text-center">
                                        <div class="custom-checkbox custom-control">
                                            <input th:if="${orders.order_process.id >= 3}" th:checked="true" type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-3">
                                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>Order Completed</td>
                                    <td th:text="${#dates.format(orders.finishedAt,'dd-MM-yyyy')}"></td>
                                </tr>
                                <tr th:if="${orders.order_process.id == 4}">
                                    <td class="p-0 text-center" >
                                        <div class="custom-checkbox custom-control">
                                            <input th:if="${orders.order_process.id == 4}" th:checked="true" type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-4">
                                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>Order Canceled</td>
                                    <td th:text="${#dates.format(orders.canceledAt,'dd-MM-yyyy')}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>