<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ONETOUCH || Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- General CSS Files -->
    <link href="../assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/libs/css/style.css">
    <link rel="stylesheet" href="../assets/vendor/select2/css/select2.css">
    <link rel="stylesheet" href="../assets/vendor/summernote/css/summernote-bs4.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="../assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/components.css">
</head>

<body>
<div id="app">
    <div class="main-wrapper">
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar">
        <ul class="navbar-nav navbar-right">
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
                <div class="d-sm-none d-lg-inline-block" th:text="'Hi ' +${session.usernamesClient}"></div></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-title">Logged in 5 min ago</div>
                    <a th:href="@{/Admin/Profile}" class="dropdown-item has-icon">
                        <i class="far fa-user"></i> Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/Admin/logout}" class="dropdown-item has-icon text-danger">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="main-sidebar">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a th:href="@{/Admin/}">OneTouch</a>
            </div>
            <ul class="sidebar-menu">
                <li class="menu-header">Dashboard</li>
                <li class="nav-item dropdown">
                    <a th:href="@{/Admin/}" class="nav-link ">Index</a>
                </li>
                <li class="nav-item dropdown">
                    <a th:href="@{/Admin/Users}" class="nav-link ">Users</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/Admin/Category}" class="nav-link ">Category</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/Admin/Product}" class="nav-link " >Product</a>
                </li>
                <li class="nav-item dropdown">
                    <a th:href="@{/Admin/Order}" class="nav-link ">Order</a>

                </li>
                <li class="nav-item dropdown">
                    <a th:href="@{/Admin/reviews}" class="nav-link ">Review</a>

                </li>

            </ul>

        </aside>
    </div>




        <div class="main-content">
            <section class="section">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2">
                            <div class="card-stats">
                                <div class="card-stats-title">Order Statistics -
                                    <div class="dropdown d-inline">
                                        <a class="font-weight-600 dropdown-toggle" data-toggle="dropdown" th:href="@{/Admin/?chart=0}" id="orders-month">All Month</a>
                                        <ul class="dropdown-menu dropdown-menu-sm">
                                            <li class="dropdown-title">Select Month</li>
                                            <li><a th:href="@{/Admin/?chart=1}" class="dropdown-item">Sales statistics Card</a></li>
                                            <li><a th:href="@{/Admin/?chart=2}" class="dropdown-item">Sales statistics Sticker</a></li>
                                            <li><a th:href="@{/Admin/?chart=0}" class="dropdown-item">Sales statistics Month</a></li>
                                            <li><a th:href="@{/Admin/?month=1}" class="dropdown-item">January</a></li>
                                            <li><a th:href="@{/Admin/?month=2}" class="dropdown-item">February</a></li>
                                            <li><a th:href="@{/Admin/?month=3}" class="dropdown-item">March</a></li>
                                            <li><a th:href="@{/Admin/?month=4}" class="dropdown-item">April</a></li>
                                            <li><a th:href="@{/Admin/?month=5}" class="dropdown-item">May</a></li>
                                            <li><a th:href="@{/Admin/?month=6}" class="dropdown-item">June</a></li>
                                            <li><a th:href="@{/Admin/?month=7}" class="dropdown-item">July</a></li>
                                            <li><a th:href="@{/Admin/?month=8}" class="dropdown-item">August</a></li>
                                            <li><a th:href="@{/Admin/?month=9}" class="dropdown-item">September</a></li>
                                            <li><a th:href="@{/Admin/?month=10}" class="dropdown-item">October</a></li>
                                            <li><a th:href="@{/Admin/?month=11}" class="dropdown-item">November</a></li>
                                            <li><a th:href="@{/Admin/?month=12}" class="dropdown-item">December</a></li>

                                        </ul>

                                    </div>
                                    <form th:action="@{/Admin/}" method="get">
                                        <input class="form-group" name="year" type="date"  onchange="this.form.submit()">
                                    </form>
<!--                                    <form>-->
<!--                                        <select onclick="this.form.submit()" class="form-control" name="chart" th:action="@{/}">-->
<!--                                            <option value="1">Sales statistics Card</option>-->
<!--                                            <option value="2">Sales statistics Sticker</option>-->
<!--                                            <option value="0">Sales statistics Month</option>-->
<!--                                        </select>-->
<!--                                    </form>-->
                                </div>
                                <div class="card-stats-items">
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count" th:text="${countCreate}"></div>
                                        <div class="card-stats-item-label">Waiting</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count" th:text="${countConfrim}"></div>
                                        <div class="card-stats-item-label">Delivering</div>
                                    </div>
                                    <div class="card-stats-item">
                                        <div class="card-stats-item-count" th:text="${countSuccess}"></div>
                                        <div class="card-stats-item-label">Completed</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-archive"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Total Orders</h4>
                                </div>
                                <div class="card-body" th:text="${SizeOrder}">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2" style="min-height: 247px">
                            <div class="card-chart">
                                <canvas id="balance-chart" height="80"></canvas>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Total Users</h4>
                                </div>
                                <div class="card-body" th:text="${countUser}">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="card card-statistic-2" style="min-height: 247px">
                            <div class="card-chart">
                                <canvas id="sales-chart" height="80"></canvas>
                            </div>
                            <div class="card-icon shadow-primary bg-primary">
                                <i class="fas fa-shopping-bag"></i>
                            </div>
                            <div class="card-wrap">
                                <div class="card-header">
                                    <h4>Acitve Product</h4>
                                </div>
                                <div class="card-body" th:text="${productCount}">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>Turnover</h4>
                            </div>

                            <div class="card-body">
<!--                                <canvas id="myChart" height="158"></canvas>-->

                                    <div id="container"
                                         style="height: 344px; margin: 0 auto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card gradient-bottom">
                            <div class="card-header">
                                <h4>Top 3 products with the highest visit</h4>
<!--                                <div class="card-header-action dropdown">-->
<!--                                    <a href="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">Month</a>-->
<!--                                    <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">-->
<!--                                        <li class="dropdown-title">Select Period</li>-->
<!--                                        <li><a href="#" class="dropdown-item">Today</a></li>-->
<!--                                        <li><a href="#" class="dropdown-item">Week</a></li>-->
<!--                                        <li><a href="#" class="dropdown-item active">Month</a></li>-->
<!--                                        <li><a href="#" class="dropdown-item">This Year</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
                            </div>
                            <div class="card-body" id="top-5-scroll">
                                <ul class="list-unstyled list-unstyled-border">
                                    <li class="media" th:each="topProduct :${TopProduct}">
                                        <img class="mr-3 rounded" width="55" height="60" th:src="${topProduct.getAvatar()}" alt="product">
                                        <div class="media-body">
                                            <div class="float-right"><div class="font-weight-600 text-muted text-small" th:text="${topProduct.getCount() + ' Access Time'}"></div></div>
                                            <div class="media-title" th:text="${topProduct.getUser().username}"></div>
                                            <div class="mt-1">
                                                <div class="budget-price">
                                                    <div class="budget-price-square bg-primary" data-width="64%"></div>
                                                    <div class="budget-price-label" th:text="${topProduct.getYear()}"></div>
                                                </div>
                                                <div class="budget-price">
                                                    <div class="budget-price-square bg-danger" data-width="43%"></div>
                                                    <div class="budget-price-label" th:text="${#dates.format(topProduct.getCreatedAt(),'dd-MM-yyyy')}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="card-footer pt-3 d-flex justify-content-center">
                                <div class="budget-price justify-content-center">
                                    <div class="budget-price-square bg-primary" data-width="20"></div>
                                    <div class="budget-price-label">Duration</div>
                                </div>
                                <div class="budget-price justify-content-center">
                                    <div class="budget-price-square bg-danger" data-width="20"></div>
                                    <div class="budget-price-label">Create At</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>


        <!-- Main Content -->




<footer class="main-footer">
    <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
    </div>
    <div class="footer-right">
        2.3.0
    </div>
</footer>
</div>
</div>
<!-- Page Specific JS File -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../assets/js/stisla.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
<!-- JS Libraies -->

<!-- Template JS File -->
<script src="../assets/js/scripts.js"></script>
<script src="../assets/js/custom.js"></script>

<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="../assets/libs/js/main-js.js"></script>



<script src="../assets/vendor/select2/js/select2.min.js"></script>
<script src="../assets/vendor/summernote/js/summernote-bs4.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function(){
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Sales statistics'
            },
            subtitle: {
                text: [[${infor}]]
            },
            xAxis: {
                categories: [[${keySet}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max:3000,
                title: {
                    text: 'Price'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Price',
                data: [[${values}]]
            }]
        });
    });
</script>
</html>
<!--<div class="main-content">-->

<!--    <form>-->
<!--        <select onclick="this.form.submit()" class="form-control" name="chart" th:action="@{/}">-->
<!--            <option value="1">Sales statistics Card</option>-->
<!--            <option value="2">Sales statistics Sticker</option>-->
<!--            <option value="0">Sales statistics Month</option>-->
<!--        </select>-->
<!--    </form>-->
<!--    <div id="container"-->
<!--         style="width: 1000px; height: 400px; margin: 0 auto"></div>-->
<!--</div>-->