<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Client/clientLayOut.html}">
<head>
    <meta charset="UTF-8">
    <title>Change Email Reset Password</title>
</head>
<body>
<main class="main"  layout:fragment="content">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                    <h4 class="font-alt">Forgot Password</h4>
                    <hr class="divider-w mb-10">

                    <div  class="msgAlert1 alert alert-success" role="alert"  th:if="${UpdatePasswordError}">
                        <div class="alert alert-danger msgAlert1" th:text="${UpdatePasswordError}" role="alert"><strong>Alert!</strong>

                        </div>
                    </div>
                    <form class="form" th:action="@{/updatePassword}" name="reset" method="post" th:object="${changePassword}" onsubmit="validate()">
                        <div class="form-group">
                            <input class="form-control" required id="email" type="email" th:field="*{email}"
                                   placeholder="Email Change Password"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="txtNewPassword" th:field="*{password}" id="txtNewPassword" placeholder="Enter passward">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="txtConfirmPassword" id="txtConfirmPassword" placeholder="Confirm Passward">                </div>

                        <div class="registrationFormAlert" style="color:green;" id="CheckPasswordMatch"></div>
                        <div class="form-group">
                            <button class="btn btn-round btn-b">Change Password</button>
                        </div>


                    </form>




                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
<!--<script>-->
<!--    function validate() {-->
<!--        if( document.getElementById("txtNewPassword").value !=   document.getElementById("txtConfirmPassword").value) {-->
<!--            alert("Please check your confirm password!") ;-->
<!--            return false;-->
<!--        }-->
<!--        return true;-->
<!--    }-->
<!--</script>-->

<script>
    function validate() {
        if( document.reset.txtNewPassword.value !=  document.reset.txtConfirmPassword.value) {
            alert("Please check your confirm password!") ;
            document.signUp.txtConfirmPassword.focus() ;
            return false;
        }
        return( true );
    }
</script>